@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Syne", sans-serif;
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #ffc5c5, #8aefd6) fixed;
}

.list-container {
  margin: 5vh 0 5vh;
  max-width: 400px;
  width: 90vw;
  background-color: white;
  padding: 4rem;
  border-radius: 2rem;
  text-align: center;
}

h1 {
  margin: 0 0 2rem;
  font-size: 2.5rem;
}

#item-form {
  margin: 1rem 0;
  display: flex;
}

#item-form input {
  font-family: inherit;
  font-size: inherit;
  min-height: 3rem;
  padding: 0 1rem;
  border-radius: 0.3rem 0 0 0.3rem;
  border: 2px solid black;
  border-right: none;
  width: 100%;
}

.add-item {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: black;
  color: white;
  border-radius: 0 0.3rem 0.3rem 0;
  min-width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#list {
  margin: 2rem 0;
  list-style: none;
  text-align: left;
}

#list li {
  margin: 1.2rem 0;
  display: flex;
  align-items: center;
}

#list input {
  cursor: pointer;
}

#list label {
  margin: 0 0.5rem 0;
  width: calc(100% - 4rem);
  word-wrap: break-word;
  cursor: pointer;
}

#list button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: black;
  color: white;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

#list button span {
  font-size: 1.2rem;
}

.buttons-container {
  margin: 2rem 0 0;
  display: flex;
  justify-content: space-between;
}

.clear-buttons {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: black;
  color: white;
  min-height: 3rem;
  width: 47%;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
}

#clear-done {
  background-color: white;
  border: 2px solid black;
  color: black;
}

#clear-done span {
  font-size: 1.2rem;
}

#list li.done label {
  text-decoration: line-through;
  color: #a9a9a9;
}

.hidden {
  display: none;
}
